.category-bkg {
    display: flex;
    justify-content: center;
    background-color: #181717;
    margin: 5rem 0 8rem;
    padding: 5rem 0 5rem;
}

.content{
    display: flex;
    align-items: center;
    color: black;
    margin: 0 5rem;
    margin-bottom: 5rem;
}

.content-reverse {
    flex-direction: row-reverse;
}

.content .category-img {
    flex-basis: 50%;
}

.content img {
    width: 100%;
}


.content .content-info {
  flex-basis: 50%;
  padding: 0 5rem;
}

.content-info .new-product {
    color: #d87d4a;
    letter-spacing: 5px;
}


/* Tablet Responsiveness */
@media screen and (max-width:1023px) {
    .content {
        margin: 0 2rem;
    }

    .content .category-img {
        height: 560px;
    }

    .content .category-img img {
        height: 100%;
        object-fit: cover;
    }

    .content .content-info {
        padding: 0 2rem;
    }
}

@media screen and (max-width:767px) {

.content{
   flex-direction: column;
   margin: 0 1rem;
   margin-bottom: 70px;
   text-align: center;
}

.content .content-info {
    padding: 0 ;
}

.content .content-info h1 {
    font-size: 24px;
    padding: 10px 0;
}

.content .content-info p {
   line-height: 24px;
   letter-spacing: 1px;
   opacity: .5;
}
}