@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: 'manrope';
}

.hero {
    background-image: url("../Assets/home/desktop/image-hero.jpg");
    background-repeat: none;
    background-size: cover;
    padding: 0 5rem;
}

.new_product {
    margin: auto 0;
    padding-top: 8rem;
    height: 80vh;
    width: 30%;
}

h1 {
    font-size: 3rem;
}

.card_container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.card_content img {
    position: relative;
    top: 6rem;
    width: 40%;
    height: 50%;
    display: block;
    margin: auto;
}

.card {
    background-color: #f1f1f1;
    color: black;
    padding: 3rem 7rem;
}

h2{
    text-align: center;
}

button {
    background-color: #d87d4a;
    color: white;
    font-weight: 700;
    padding: 1rem;
}

/* third srction */
.speaker {
    display: flex;
    background-color: #d87d4a;
    background-image: url('../Assets/home/desktop/pattern-circles.svg');
    background-repeat: no-repeat;
    margin-bottom: 10rem;
    padding: 5rem 7rem 1rem;
}

.speaker .zx9-speaker-img img {
    /* position: relative;
    top: 6rem; */
    width: 70%;
    height: 100%;
}

