.cart-container {
    position: absolute;
    top: 100px;
    right : 0;
    background-color:#fff;
    border-radius: 5px;
    padding: 3rem 2rem;
    margin-right: 30px;
    width: 377px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header Button  {
    background-color: #fff; 
    border-bottom: 1px solid black;
    color: black;
    font-weight: 300;
    opacity: .5;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
}

.cart-footer h3 {
  letter-spacing: 1px;
  opacity: .5;
}

.cart-footer p {
    font-weight: 700;
    
}
