    /* .cart-container {
        position: fixed;
        top: 15vh;
        right: 0;
        width: 377px;
        background-color: white;
        padding: 3rem 2rem;
        margin-right: 30px;
        border-radius: 14px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        z-index: 30;
    } */

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header Button  {
    background-color: #fff; 
    border-bottom: 1px solid black;
    color: black;
    font-weight: 300;
    opacity: .5;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
}

.cart-footer h3 {
  letter-spacing: 1px;
  opacity: .5;
}

.cart-footer p {
    font-weight: 700;
    
}
