.card {
    background-color: rgb(255,255,255);
    padding: 2rem 1rem;
    height: 450px;
    width: 30%;
}
.flex{
    display: flex;
    justify-content: space-between;
}

.flex p:nth-of-type(1) {
    opacity: 0.5;
}


.flex p:nth-of-type(2) {
   font-weight: 700;
}

.btn-continue {
    width: 100%;
}
@media screen and (max-width:767px) {
    .card {
       width: 95%;
       min-width: 23rem;
    }
}